@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Jost:ital,wght@0,500;1,300&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

body {
  background: url(./img/mount.jpg) top right no-repeat;
  font-family: "El Messiri", sans-serif;
}

.card {
  margin: 0 30%;
  padding: 3%;
  box-shadow: 7px 7px 8px 7px rgba(77, 75, 75, 0.2);
  border-radius: 7px;
}

.copy {
  width: 25px;
  height: 25px;
  color: rgb(55, 54, 58);
}

button {
  background: transparent;
  border: none;
  outline: none;
}

h2 {
  color: rgb(49, 49, 53);
}

@media (max-width: 760px) {
  .App {
    height: 100%;
  }
  .card {
    margin: 10px 10%;
  }

  h2 {
    font-size: 20px;
    line-height: 1.5;
  }
}
